@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: v.$rojo_primario;
        font-size: 2rem;
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.5rem;
            color: v.$grisazul;
            font-weight: bold;
        }

        input {
            margin-bottom: 1rem;
            padding: 0.75rem;
            border: 1px solid v.$grisazul;
            border-radius: 5px;
            font-size: 1rem;
            transition: border-color 0.3s ease;

            &:focus {
                border-color: v.$rojo_primario;
                outline: none;
            }
        }

        button {
            background-color: v.$rojo_primario;
            color: #fff;
            border: none;
            padding: 0.75rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                background-color: color.adjust(v.$rojo_primario, $lightness: -10%);
                transform: translateY(-2px);
            }

            &:active {
                transform: translateY(0);
            }
        }
    }

    p {
        text-align: center;
        margin-top: 1rem;
        color: v.$grisazul;

        a {
            color: v.$rojo_primario;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .error {
        color: green;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
    }
}
