@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.5rem;
        }

        input {
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: 1px solid v.$grisazul;
            border-radius: 5px;
        }

        button {
            background-color: v.$rojo_primario;
            color: #fff;
            border: none;
            padding: 0.75rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: color.adjust(v.$rojo_primario, $lightness: -10%);
            }
        }
    }

    p {
        text-align: center;
        margin-top: 1rem;

        a {
            color: v.$rojo_primario;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}